- slack_workspace = settings.slack['workspace_name']

%table.table.table-striped
  %tr
    %th ログイン名
    %td #{user['uid'].first} (##{user['uidNumber'].first})
  %tr
    %th 氏名
    %td #{user['sn;lang-ja'].first} #{user['givenName;lang-ja'].first} (#{user['sn'].first} #{user['givenName'].first})
  - if user['x-kmc-Alias'].first
    %tr
      %th 別名
      %td
        = user['x-kmc-Alias'].first
  %tr
    %th メールアドレス
    %td
      - if user['mail'].first
        %a{href: "mailto:#{user['mail'].first}"}= user['mail'].first
  %tr
    %th 電話番号
    %td
      - if user['telephoneNumber'].first
        %a{href: "tel:#{user['telephoneNumber'].first}"}= user['telephoneNumber'].first
  %tr
    %th 住所
    %td #{user['postalCode'].first} #{user['postalAddress'].first}
  - if user['x-kmc-UniversityDepartment'].first
    %tr
      %th 所属
      %td #{user['x-kmc-UniversityDepartment'].first} #{user['x-kmc-UniversityStatus'].first}
  - if user['description'].first
    %tr
      %th 備考
      %td= user['description'].first
  %tr
    %th Slack
    %td
      %ul.inline-list
        - user['x-kmc-SlackUserID'].each do |idname|
          - id, name = idname.split(?,, 2)
          %li
            - if slack_workspace
              %a{href: "https://#{slack_workspace}.slack.com/team/#{id}"}>= name || id
            - else
              = name || id
  %tr
    %th Discord
    %td
      %ul.inline-list
        - user['x-kmc-DiscordUserID'].each do |idname|
          - id, name = idname.split(?,, 2)
          %li
            %a{href: "https://discord.com/users/#{id}"}>= name
  %tr
    %th 最終更新
    %td
      - if user['x-kmc-LastModified'].first
        = DateTime.parse(user['x-kmc-LastModified'].first).strftime('%F %T')

%div.d-grid
  %a.btn.btn-primary.btn-lg{href: absolute_uri(user['uid'].first, 'edit')} 編集
