%ul.nav.nav-tabs{role: 'tablist'}
  %li.nav-item{role: 'presentation'}
    %button#tab-basic-list.nav-link.active{type: 'button', role: 'tab', data: {bs: {toggle: 'tab', target: '#basic-list'}}} 一覧
  %li.nav-item
    %button#tab-detail-list.nav-link{type: 'button', role: 'tab', data: {bs: {toggle: 'tab', target: '#detail-list'}}} 一覧（詳細）
%div.tab-content
  %div#basic-list.tab-pane.active
    %table.table.table-striped.table-sm
      %thead
        %tr
          %th ログイン名
          %th 氏名
          %th 電話番号
      %tbody
        - users.each do |user|
          %tr
            %td
              %a{href: absolute_uri(user['uid'].first)} #{user['uid'].first}
            %td
              #{user['sn;lang-ja'].first} #{user['givenName;lang-ja'].first}
            %td
              - if !user['telephoneNumber'].empty?
                %a{href: "tel:#{user['telephoneNumber'].first}"} #{user['telephoneNumber'].first}
  %div#detail-list.tab-pane.table-responsive
    %table.table.table-striped.table-sm
      %thead
        %tr
          %th ログイン名
          %th 氏名
          %th 電話番号
          %th 住所
          %th 代
          %th 入学年度
          %th 所属
          %th 役職
      %tbody
        - users.each do |user|
          %tr
            %td
              %a{href: absolute_uri(user['uid'].first)} #{user['uid'].first}
            %td
              #{user['sn;lang-ja'].first} #{user['givenName;lang-ja'].first}
            %td
              - if !user['telephoneNumber'].empty?
                %a{href: "tel:#{user['telephoneNumber'].first}"} #{user['telephoneNumber'].first}
            %td
              #{user['postalAddress'].first}
            %td
              #{user['x-kmc-Generation'].first}
            %td
              #{user['x-kmc-UniversityMatricYear'].first}
            %td
              - if !user['x-kmc-UniversityDepartment'].empty?
                #{user['x-kmc-UniversityDepartment'].first} #{user['x-kmc-UniversityStatus'].first}
            %td
              #{user['title'].first}
