-# -*- coding: utf-8 -*-
!!!
%html{lang: 'ja'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content:'width=device-width,initial-scale=1'}
    %title #{settings.brand['name']}名簿システム
    != stylesheet_tag('app')
    != javascript_tag('app', defer: true)
    != yield_content :html_head
  %body
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
      %div.container-fluid
        %a.navbar-brand{href: settings.brand['uri']}= settings.brand['name']
        %button.navbar-toggler{data: {bs: {toggle: 'collapse', target: '#navbarContent'}}}
          %span.navbar-toggler-icon
        %div#navbarContent.collapse.navbar-collapse
          %ul.navbar-nav.flex-grow-1
            - navlinks.sort_by{|navlink| navlink[:order] }.each do |navlink|
              %li.nav-item
                %a.nav-link{href: navlink[:href]}
                  %span.fas{class: "fa-#{navlink[:icon]}", title: navlink[:text]}
                  %span.navbar-autotext= navlink[:text]
          %form{action: absolute_uri(), role: 'search'}
            %div.input-group
              %input.form-control{type: :search, name: 'q'}
              %div.input-group-append
                %button.btn.btn-secondary{type: :submit} 検索
    %main.container{role: 'main'}
      != yield
