!!!
%html{lang: 'ja'}
  %head
    %meta{charset: 'utf-8'}
    != stylesheet_tag('univ')
    != javascript_tag('univ')
  %body
    %div.util
      %p.notice ※赤色背景は今年度に入ってから更新されていません．
      %button.btn#export{type: 'button'} CSV出力
    %table#executives
      %caption 役員名簿
      %thead
        %tr
          %th.title 役職
          %th.department 学部
          %th.grade 回生
          %th.student-number 学生番号
          %th.name 氏名
          %th.address 住所
          %th.tel 電話番号
          %th.lodging 下宿・自宅の別
          %th.mail 連絡先E-mail:
      %tbody
        - users.each do |u|
          - if ::GuildBook::UnivHelper.executive?(u)
            %tr{data: {outdated: ::GuildBook::UnivHelper.outdated?(u)}}
              %td.title= ::GuildBook::UnivHelper.title(u)
              %td.department= ::GuildBook::UnivHelper.kyotou_department(u)
              %td.grade= ::GuildBook::UnivHelper.kyotou_grade(u)
              %td.student-number= ::GuildBook::UnivHelper.kyotou_student_number(u)
              %td.name
                %div.yomi #{::GuildBook::UnivHelper.yomi(u)}
                %div= ::GuildBook::UnivHelper.name(u)
                %div.uid #{::GuildBook::UnivHelper.uid(u)}
              %td.address= ::GuildBook::UnivHelper.address(u)
              %td.tel= ::GuildBook::UnivHelper.tel(u)
              %td.lodging= ::GuildBook::UnivHelper.lodging(u)
              %td.mail
                %a.value{href: ::GuildBook::UnivHelper.mailto_email(u)}= ::GuildBook::UnivHelper.email(u)

    %table#members
      %caption 構成員名簿
      %thead
        %tr
          %th.title 役職
          %th.department 学部
          %th.grade 回生
          %th.student-number 学生番号
          %th.name 氏名
          %th.address 住所
          %th.tel 電話番号
          %th.lodging 下宿・自宅の別
      %tbody
        - users.each do |u|
          - if ::GuildBook::UnivHelper.kyotou_student?(u)
            %tr{data: {outdated: ::GuildBook::UnivHelper.outdated?(u)}}
              %td.title= ::GuildBook::UnivHelper.executive?(u) ? ::GuildBook::UnivHelper.title(u) : nil
              %td.department= ::GuildBook::UnivHelper.kyotou_department(u)
              %td.grade= ::GuildBook::UnivHelper.kyotou_grade(u)
              %td.student-number= ::GuildBook::UnivHelper.kyotou_student_number(u)
              %td.name
                %div.yomi #{::GuildBook::UnivHelper.yomi(u)}
                %div= ::GuildBook::UnivHelper.name(u)
                %div.uid #{::GuildBook::UnivHelper.uid(u)}
              %td.address= ::GuildBook::UnivHelper.address(u)
              %td.tel= ::GuildBook::UnivHelper.tel(u)
              %td.lodging= ::GuildBook::UnivHelper.lodging(u)
