%table.table.table-striped
  %tr
    %th ログイン名
    %td= user['uid'].first
    %th UID
    %td= user['uidNumber'].first
  %tr
    %th 氏名(en)
    %td #{user['givenName'].first} #{user['sn'].first}
    %th 氏名(ja)
    %td #{user['sn;lang-ja'].first} #{user['givenName;lang-ja'].first}
  %tr
    %th メールアドレス
    %td{colspan: 3}
      %a{href: "mailto:#{user['mail'].first}"}= user['mail'].first
  %tr
    %th 電話番号
    %td= user['mobile'].first
    %th 固定電話
    %td= user['homePhone'].first
  %tr
    %th 住所
    %td{colspan: 3} #{user['postalCode'].first} #{user['postalAddress'].first}

%a{href: absolute_uri(user['uid'].first, 'edit')} edit
