%table.table.table-striped.table-condensed
  %thead
    %tr
      %th ログイン名
      %th 氏名
      %th 電話番号
  %tbody
    - users.each do |user|
      %tr
        %td
          %a{href: absolute_uri(user['uid'].first)} #{user['uid'].first}
        %td
          #{user['sn;lang-ja'].first} #{user['givenName;lang-ja'].first}
        %td
          %a{href: "tel:#{user['telephoneNumber'].first}"} #{user['telephoneNumber'].first}
