-# -*- coding: utf-8 -*-
!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name:'viewport', content:'width=device-width, initial-scale=1'}
    %title めいぼ
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'}
    = javascript_tag 'app'
    = stylesheet_tag 'app'
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      %div.container
        %div.navbar-header
          %button.navbar-toggle{data: {toggle: 'collapse', target: '.collapse.navbar-collapse'}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: brand['uri']}= brand['name']
        %div.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: absolute_uri()} 一覧
            - if remote_user
              %li
                %a{href: absolute_uri(remote_user)}= remote_user
          %form.navbar-form.navbar-right{action: absolute_uri(), role: 'search'}
            %div.input-group
              %input.form-control{type: :search, name: 'q'}
              %span.input-group-btn
                %button.btn.btn-default.btn-primary{type: :submit, value: '検索'} 検索
    %div.container-fluid
      %div.row
        %div.col-xs-12.col-md-8.col-md-offset-2{role: 'main'}
          = yield
