-# -*- coding: utf-8 -*-
!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content:'width=device-width,initial-scale=1'}
    %title #{Settings.brand.name}名簿システム
    = stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'app', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      %div.container
        %div.navbar-header
          %button.navbar-toggle{data: {toggle: 'collapse', target: '.collapse.navbar-collapse'}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: Settings.brand.uri}= Settings.brand.name
        %div.collapse.navbar-collapse
          %ul.nav.navbar-nav
            -# - navlinks.each do |navlink|
            -#   %li
            -#     %a{href: navlink[:href]}
            -#       %span.glyphicon.glyphicon-lg{class: "glyphicon-#{navlink[:icon]}", title: navlink[:text]}
            -#       %span.navbar-autotext= navlink[:text]
          %form.form-inline.navbar-form.navbar-right{action: '#', role: 'search'}
            %div.input-group
              %input.form-control{type: :search, name: 'q'}
              %span.input-group-btn
                %button.btn.btn-default.btn-primary{type: :submit} 検索
    %div.container-fluid
      %div.row
        %main.col-xs-12.col-md-8.col-md-offset-2{role: 'main'}
          != yield
